<p id="notice"><%= notice %></p>

<p>
  <strong>Numr ponto:</strong>
  <%= @pontocliente.numr_ponto %>
</p>

<p>
  <strong>Valor gasto:</strong>
  <%= @pontocliente.valor_gasto %>
</p>

<p>
  <strong>Desc ponto:</strong>
  <%= @pontocliente.desc_ponto %>
</p>

<p>
  <strong>Flag resgatado:</strong>
  <%= @pontocliente.flag_resgatado %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @pontocliente.empresa %>
</p>

<p>
  <strong>Clienteempresa:</strong>
  <%= @pontocliente.clienteempresa %>
</p>

<p>
  <strong>Regraponto:</strong>
  <%= @pontocliente.regraponto %>
</p>

<p>
  <strong>Desc ponto:</strong>
  <%= @pontocliente.desc_ponto %>
</p>

<p>
  <strong>Flag resgatado:</strong>
  <%= @pontocliente.flag_resgatado %>
</p>

<%= link_to 'Edit', edit_pontocliente_path(@pontocliente) %> |
<%= link_to 'Back', pontoclientes_path %>
